<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

        <title>Tube - Main</title>
    </head>
    <body>
        <h2>Tube</h2>

        <a target="_blank" href="/login/">Log in</a>

        <div>
            <form method="GET">
                <input type="text" name="q" value="{{q}}">
                <input class="button" type="submit" value="Search">
            </form>
        </div>
        <div>
            {% for i in video_tags %}
            <a href="/?tag={{ i.tag.name }}">#{{ i.tag.name }}</a><br>
            {% endfor %}

        </div>
        <p>{{ video_count }} videos</p>
        <div>
            {% for video in videos %}
            <a href="/watch/{{ video.id }}/">{{ video.title }}</a><br>
            {% endfor %}
        </div>
        <a href="/upload/">Upload video</a>

        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </body>
</html>